body {
    background-color: rgb(17, 17, 17);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* Effet de flou progressif */
.blur-mask {
    /* Mask gradient */
    -webkit-mask-image: linear-gradient(to top, rgb(0, 0, 0) 42%, rgba(0, 0, 0, 0) 100%);
    mask-image: linear-gradient(to top, rgb(0, 0, 0) 42%, rgba(0, 0, 0, 0) 100%);
    position: absolute;
    inset: 0;
    /* Multiple vendor prefixes */
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    background-color: rgba(0, 0, 0, 0.247);
}

/* Fallback for browsers without backdrop-filter support */
@supports not ((backdrop-filter: blur(8px)) or (-webkit-backdrop-filter: blur(8px))) {
    .blur-mask {
        background-color: rgba(0, 0, 0, 0.7); /* Darker background as fallback */
    }
}

.split-screen {
    display: flex;
    height: 100vh;
}

.left-side {
    width: 50%;
    background: black;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 2.7vw;
    position: relative;
}

.right-side {
    width: 50%;
    background: url('../img/grandBornand.png') no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 2.2vw;
    letter-spacing: 0.3em;
}

.left-side h1 {
    margin: 0.001em 0;
    margin-left: 0.35em;
    margin-top: -5%;
}

.right-side h1 {
    transition: 0.5s;
    margin-top: -5%;
}

.right-side h1:hover {
    letter-spacing: 0.25em;
}

.animated-text span {
    display: inline-block;
    opacity: 0;
    transform: translateY(-20px);
    animation: slideIn 0.5s forwards;
    animation-delay: calc(0.08s * var(--i));
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.animated-text-bottom span {
    display: inline-block;
    opacity: 0;
    transform: translateY(20px);
    animation: slideInBottom 0.5s forwards;
    animation-delay: calc(0.05s * var(--i));
}

.animated-text-bottom-entire {
    opacity: 0;
    transform: translateY(20px);
    animation: slideInBottom 2s forwards;
    animation-delay: calc(0.1s * var(--i));
}

@keyframes slideInBottom {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.animated-text {
    position: absolute;
    top: 40%;
    left: 0;
}

.animated-text-bottom {
    position: absolute;
    top: 50%;
    left: 0;
}

#projetTitre {
    position: absolute;
    font-size: 3vw;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    z-index: 1;
    margin-top: -10vh;
}

/* RECTANGLES */
#rectangle {
    position: absolute;
    bottom: -27%;
    width: 120%;
    height: 30vh;
    background: rgb(17, 17, 17);
    transform: rotate(-5deg);
    transform-origin: bottom left;
    z-index: 1;
}

#mobile {
    display: none;
}

/* Style des cartes */
.cardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
    width: 100%;
    padding: 0 2rem;
    margin-top: 10vh;
    box-sizing: border-box;
}

.card-group {
    display: flex;
    flex-wrap: wrap; /* Permettre aux cartes de passer à la ligne */
    justify-content: center; /* Centrer les cartes dans le conteneur */
    gap: 3.5rem;
    max-width: 90%; /* Limiter la largeur pour éviter que les cartes touchent les bords */
    margin-top: 5vh;
}

.card {
    position: relative;
    width: 20rem;
    border-radius: 2.5rem;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 2.5rem;
}

.card img {
    width: 100%;
    height: 45vh;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.card:hover img {
    transform: scale(1.05);
}

.card-overlay {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: flex-end;
}

.card-content {
    position: relative;
    width: 100%;
    padding: 1rem;
    color: white;
    z-index: 2;
}

.card-title {
    font-size: 1.125rem;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-tag {
    font-size: 0.875rem;
    background-color: rgba(45, 55, 72, 0.5);
    padding: 0.25rem 0.5rem;
    border-radius: 9999px;
}

.card-description {
    font-size: 0.875rem;
    margin-top: 0.25rem;
    color: #e6e6e6;
}

.card-tags {
    display: flex;
    gap: 0.5rem;
    margin-top: 0.5rem;
}

.tag {
    background-color: rgba(184, 184, 184, 0.3);
    font-size: 0.75rem;
    padding: 0.375rem 0.75rem;
    border-radius: 9999px;
}

.card-button {
    margin-top: 1rem;
    background-color: white;
    color: black;
    font-size: 1rem;
    height: 3rem;
    font-weight: 600;
    padding: 0.75rem 0;
    border-radius: 9999px;
    width: 100%;
    border: none;
    cursor: pointer;
    transition: width 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.card-button:hover {
    width: 106%;
    transform: translateX(-3%); /* Déplace le bouton de 5% vers la gauche pour le centrer */
}

.card:hover {
    transition: all 0.3s;
    cursor: pointer;
}



@media screen and (max-width: 768px) {
    #computer {
        display: none;
    }

    #mobile {
        display: block;
        color: white;
        background-color: black;
    }

    .top-screen {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        height: 25vh;
    }

    .animated-text {
        position: absolute;
        left: 0;
        top: 0%;
        width: 100%;
        font-size: 13vw;
    }

    .animated-text-bottom {
        position: absolute;
        left: 0;
        top: 12%;
        width: 100%;
        font-size: 11vw;
    }

    .bottom-screen {
        height: calc(100vh - 25vh);
        background: url('../img/grandBornand.png') no-repeat center center;
        background-size: cover;
        /* Supprimer background-attachment: fixed pour iOS */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 5vw;
        letter-spacing: 0.3em;
        color: black;
    }
    
    /* Solution pour appareils non-iOS */
    @supports (not (-webkit-touch-callout: none)) {
        .bottom-screen {
            background-attachment: fixed;
        }
    }

    #voirPlusTel {
        border-radius: 1em;
        background: rgba(0, 0, 0, 0.5);
        border: 0.1em solid rgba(255, 255, 255, 0.4);
        color: #fff;
        font-size: 1em;
        padding: 0.5em 1em;
    }

    #voirPlusTel:hover {
        background: rgba(0, 0, 0, 0.8);
        cursor: pointer;
    }

    #projetTitre {
        position: absolute;
        font-size: 7vw;
        left: 50%;
        transform: translateX(-50%);
        color: white;
        z-index: 1;
        margin-top: -5vh;
    }

    .card-group {
        flex-direction: column; /* Empiler les cartes en mode mobile */
        gap: 2rem;
        align-items: center; 
    }

    .card {
        width: 85%; /* Ajuster la largeur des cartes en mode mobile */
        margin-bottom: 0; /* Supprimer la marge du bas car nous utilisons gap */
    }

    .card-button {
        margin-top: 0.5rem;
        font-size: 0.8rem;
        height: 2.5rem;
    }

    .card-title {
        font-size: 1rem;
        font-weight: 700;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .card-tag {
        font-size: 0.6rem;
        background-color: rgba(45, 55, 72, 0.5);
        padding: 0.25rem 0.5rem;
        border-radius: 9999px;
    }
    
    .card-description {
        font-size: 0.675rem;
        margin-top: 0.25rem;
        color: #e6e6e6;
    }
    
   
    .tag {
        background-color: rgba(184, 184, 184, 0.3);
        font-size: 0.5rem;
        padding: 0.375rem 0.75rem;
        border-radius: 9999px;
    }
    
}