body{
    background-color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.split-screen {
    display: flex;
    height: 100vh;
}

.left-side {
    width: 50%;
    background: black;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 2.7vw;
    position: relative;
}

.right-side {   
    width: 50%;
    background: url('../img/image_fond_accueil.png') no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 2.2vw;
    letter-spacing: 0.3em;
}

.left-side h1{
    margin: 0.001em 0;
    margin-left: 0.35em;
    margin-top: -5%;
}

.right-side h1 {
    transition: 0.5s;
    margin-top: -5%;
}

.right-side h1:hover{
    letter-spacing: 0.25em;
}

.animated-text span {
    display: inline-block;
    opacity: 0;
    transform: translateY(-20px);
    animation: slideIn 0.5s forwards;
    animation-delay: calc(0.08s * var(--i));
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.animated-text-bottom span {
    display: inline-block;
    opacity: 0;
    transform: translateY(20px);
    animation: slideInBottom 0.5s forwards;
    animation-delay: calc(0.05s * var(--i));
}

.animated-text-bottom-entire {
    opacity: 0;
    transform: translateY(20px);
    animation: slideInBottom 2s forwards;
    animation-delay: calc(0.1s * var(--i));
}

@keyframes slideInBottom {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.animated-text {
    position: absolute;
    top: 40%;
    left: 0;
}

.animated-text-bottom {
    position: absolute;
    top: 50%; 
    left: 0;
}

#deuxiemePageCentre{
    position: relative; /*Permet de prendre en comtpe le z-index*/
    margin-top: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2;
}

#deuxiemePageCentre h1{
    font-size: 4vw;
    margin: 0;
}

#deuxiemePageCentre h2{
    font-size: 3vw; 
    margin: 0;
    transition: 0.5s;
}

#deuxiemePageCentre h2:hover{
    letter-spacing: 0.02em; 
}

#deuxiemePageCentre a{
    display: flex;
    width: auto;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    text-decoration: none;
    color: black;
}

#deuxiemePageCentre img{
    width: 40%;
    margin-top: 1%;
    border-radius: 30px;
    transition: 0.5s;
}

#deuxiemePageCentre img:hover{
    scale: 1.01;
    cursor: pointer;
}

/*RECTANGLES*/

#rectangleBlanc {
    position: absolute;
    bottom: -27%;
    width: 120%;
    height: 30vh;
    background: white;
    transform: rotate(-5deg);
    transform-origin: bottom left;
    z-index: 1;
}

#rectangleNoir {
    position: absolute;
    bottom: -100%;
    left:-10%;
    width: 120%;
    height: 30vh;
    background: black;
    transform: rotate(5deg);
    transform-origin: bottom left;
    z-index: 1;
}

#cover {
    position: absolute;
    bottom: -121%;
    width: 110%;
    height: 25vh;
    background: black;
}

#mobile{
    display: none;
}

@media screen and (max-width: 768px){

    #computer{
        display: none;
    }

    #mobile{
        display: block;
        color: white;
        background-color: black;
    }

    .top-screen{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        height: 35vh;
    }

    .animated-text {
        position: absolute;
        left: 0;
        top: 9%;
        width: 100%;
        font-size: 13vw;
    }
    
    .animated-text-bottom {
        position: absolute;
        left: 0;
        top: 17%;
        width: 100%;
        font-size: 11vw;
    }

    .bottom-screen {   
        height: 65vh;
        background: url('../img/image_fond_accueil.png') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 5vw;
        letter-spacing: 0.3em;
        color: black;
    }

    #voirPlusTel{
        border-radius: 1em;
        background: rgba(0, 0, 0, 0.5);
        border: 0.1em solid rgba(255, 255, 255, 0.4);
        color: #fff;
        font-size: 1em;
        padding: 0.5em 1em;
    }

    #voirPlusTel:hover{
        background: rgba(0, 0, 0, 0.8);
        cursor: pointer;
    }
}