header{
    background-color: white;
    display: flex;
}

header img{
    width: 30%;
}

nav{
    background-color: white;
    display: flex;
    justify-content: space-between;
    width: 70%;
    padding: 1% 5%;
}

a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.2vw;
}

a:hover{
    transform: scale(1.02);
}

nav a.select {
    border-bottom: 2px solid #000;
}