body{
    background-color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#titrePortfolio{
    position: absolute;
    text-align: center;
    top: 50px;
    left: 0;
    width: 100%;
    font-size: 3vw;
}

#gridProjets{
    display: grid;
    position: relative;
    top: 150px;
    margin: 5%;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    column-gap: 300px;
    row-gap: 110px;
    padding: 20px;

}

.projet {
    display: flex;
    align-items: center; 
    justify-content: center;
    flex-direction: column;
    transition: 0.5s;
    width: 20vw;
    position: relative;
    height: 100%; 
}

.projet>img {
    width: 25vw;
    height: auto;
    border-radius: 20px;
}

.projet>h2 {
    font-size: 1.8vw;
    margin: 0;
    margin-top: 2%; 
    text-align: center;
    position: absolute; 
    bottom: -50px;
}

.projet:hover{
    transform: scale(1.02);
    cursor: pointer;
}

#mobile{
    display: none;
}

@media screen and (max-width: 768px){

    #computer{
        display: none;
    }

    #mobile{
        display: block;
        color: white;
    }
}
