body{
    background-color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

a{
  text-decoration: none;
}

#titreProjet{
    position: absolute;
    text-align: center;
    top: 50px;
    left: 0;
    width: 100%;
    font-size: 3vw;
}

#leftSide{
    display: flex;
    flex-direction: column;
    position: relative;
    left: 5%;
    min-width: 35vw;
    max-width: 35vw;
}

#titreDescription{
  position: absolute;
  top: 170px;
  left: 41%;
  font-size: 1.7vw;
}

#descriptionProjet{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 270px;
  left: 41%;
  margin-right: 10%;
  font-size: 1.3vw;
  line-height: 1.5;
  text-align: justify;
  display: inline; /*Permet de pouvoir utiliser des balises pour la mise en page*/
  max-height: 35vh;
}

#bottom{
    display: flex;
    position: absolute;
    top: 700px;
    left: 5%;
    right: 5%;
}

#bottom p{
    font-size: 1.5vw;
    display: inline; /*Permet de pouvoir utiliser des balises pour la mise en page*/
    margin-top: 0;
}

#infos{
    display: flex;
    flex-direction: column;
}

.btn {
  background-color: black;
  border: 3px solid black;
  border-radius: 40px;
  color: white;
  padding: 12px 16px;
  font-size: 24px;
  cursor: pointer;
  transition: all 0.5s;
  width: 18vw;
  text-align: start;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color:white;
  color: black;
}

/*CAROUSSEL*/
#caroussel{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 200px;
}

/* Slideshow container */
#slideshow-container {
  min-width: 35vw;
  max-width: 35vw;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

.mySlides img{
    max-height: 35vh;
    cursor: zoom-in;
    transition: all(0s);
}


/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  opacity: 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot {
  margin-top: -50px;
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
  transform: scale(1.1);
}

#mobile{
  display: none;
}


